@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}
body{
    min-height: 100%;
}

body {
    font-family: 'Oswald', sans-serif;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 160px auto;
}






nav {
    background-color: #1992d4;
    grid-row: 1 / 3;
    font-weight: 500;
}

nav ul {
    display: grid;
    gap: 40px;
    padding: 10px;
}

nav ul div {
    display: grid;
    gap: 10px;
}

nav ul > li .material-symbols-outlined{
    font-size: 48px;
}

nav li {
    color: white;
    display: grid;
    grid-template-columns: 1fr 4fr;
    align-items: center;
}

nav .material-symbols-outlined{
    font-variation-settings: 'FILL' 1;
    justify-self: center;
}



header h1 { 
    font-size: 1.5em; /* For some reason i had to standarize? */
}

header {
    background-color: white;
    grid-column-start: 2;
    display: grid;
    grid-template-rows: 1fr 1fr;
    padding: 0 30px;
}

.upper-part {
    display: grid;
    grid-template-rows: auto 40px auto;
    grid-template-columns: 3% 70% 5% 6% auto;
    align-items: center;
}

.upper-part > *, .lower-part > * {
    grid-row-start: 2;
}

header input {
    background-color: #e2e8f0;
    height: 24px;
    border-style: none;
    border-radius: 10px;
    width: 80%;
}

img {
    width: auto;
    border-radius: 50%;
    height: 40px;
}

.lower-part {
    grid-row-start: 2;
    display: grid;
    grid-template-columns: 7% 55% auto auto auto;
    grid-template-rows: auto 50px auto;
    align-items: center;

}

.lower-part img {
    height: 50px;
}

.lower-part button {
    background-color: #1992d4;
    color: white;
    font-weight: bold;
    border-style: none;
    width: 80px;
    height: 35px;
    border-radius: 24px;
}




main {
    display: grid;
    grid-template-columns: 3fr 1fr;
    background-color: #e2e8f0;
    padding: 10px;
    gap: 20px;
}

main p {
    color: #828282;
}

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.project {
    height: 150px;
    gap: 10px;
    background: linear-gradient(to right, #f0b429 0%,#f0b429 2%,#ffffff 2%);
    border-radius: 6px;
    display: grid;
    grid-template-rows: 3fr 1fr;
    padding: 20px;

}

.project button {
    background: none;
    border-style: none;
    width: 26px;
}

.project-actions {
    display: grid;
    grid-auto-flow: column;
    justify-content: end;
    gap: 20px;
}

.project-actions span:hover {
    font-size: 26px;
}






aside {
    display: grid;
    grid-auto-rows: 350px;
}

.announcements, .trending {
    display: grid;
    gap: 10px;
    grid-auto-columns: 1fr;
    background-color: white;
    border-radius: 6px;
    padding: 20px;
}

.trending {
    gap: 20px;
}

.trending-project {
    display: grid;
    grid-template-columns: 1fr 3fr; 
}

.trending-project img {
    place-self: center;
}

.trending-project div, .user div {
    display: grid;
    align-content: center;
}

aside h5 {
    font-weight: 500;
}

.announcements p, .trending span {
    font-weight: 300;
    font-size: smaller;
}

article > h3, .announcements-container > h3, .trending-container > h3 {
    font-weight: 400;
}